hello-modal {
    .close-area {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: coral;
        opacity: 0.0;
    }

    .modal-content {
        background-color: rgba(250.9, 250.9, 250.9, 0.9);
        background-color: #fff;
        max-height: 85%;
        min-height: 20%;
        overflow: scroll;
        width: 100%;
        position: absolute;
        bottom: 0;
        box-shadow: 0px -1.0px 2.0px #bbb;
        
        #modalCloseButton {
            position: absolute;
            top: 1%;
            right: 3%;
            font-size: 1.8em;
            font-weight: 800;
        }

        .modal-toolbar {
            background-color: pink;
            list-style: none;
            margin: 0;
            text-align: right;
    
            li {
                ion-icon {
                    font-size: 1.6em;
                    font-weight: 400;
                    line-height: 100%;
                    color: #333;
                }
                &:last-child > ion-icon{
                    // font-size: 2.0em;
                    font-weight: 400;
                    // color: red;
                }
                // background-color: coral;
                display: inline-block;
                margin: auto 0.2em;
            }
        }
    }
}
