hello-login {
    

    .my-input-wrapper {
        // background-color: lightblue;

        width: 87%;
        max-width: 22em;
        margin: 1.4em auto 4.8em;
        // padding
        // margin: auto;
        .welcome-box {
            text-align: center;
            // background-color: honeydew;
            * {
                margin: 0.0em;
            }
            h4 {
                color: $places-green;
            }
        }

        .input-box {
            // background-color: coral;
            ion-label {
                margin-bottom: 3px;
                font-size: 0.8em;
            }
            ion-input {
                border: 1px solid #aaa;
                input {
                    margin: 0.5em;
                }
                // border-radius: 1px;
                // box-shadow: #aaa 0.5px 0.5px;
            }
            button {
                height: 2.6em;
            }
            #logInButton {
                background-color: $places-blue;
                margin-top: 1em;
            }
            div {
                margin-top: 1em;
                text-align: center;
                a {
                    color: black;
                }
            }
        }
        .create-box {
            #createAccountButton {
                background-color: $places-green;
                margin-top: 3.8em;
            }
            .conenct-with {
                margin-top: 1.0em;
                span {
                    font-size: 0.8em;
                }
            }
        }
    }
}
