<div class="wrapper {{modalClass}}">

    <div class="modal-top-bar">
        <p (click)="close()"><b>x</b></p>
    </div>
    
    
    
    <ion-nav [root]="" swipeBackEnabled="false"></ion-nav>
    

    <div class="modal-footer">
        <p (click)="close()"><b>x</b></p>
    </div>
    <!--<div class="modal-content">-->
        
        <!--hej
        <p>modalcontent</p>
        asdasd

        asdasdasd
        asd
        <p>asdasdasd</p>
        asadasd
        <p>asdasdasd</p>
        asadasd
        <p>asdasdasd</p>
        asadasd-->
        
        
        
    <!--</div> -->
</div>
