modal {
    .wrapper {
        position: absolute;
        bottom: 0;
        top: auto;
        margin: 0;
        width: 100%;
        background: lightblue;
        overflow: scroll;

        &.modal-closed {
            min-height: 0%;
            max-height: 0%;
            transition-property: all;
            transition-delay: 100ms;
            transition-duration: 500ms;
            // top: -100%;
            // display: none;
        }
        &.modal-open {
            min-height: 40%;
            max-height: 90%;
            transition-property: all;
            transition-delay: 700ms;
            transition-duration: 500ms;
            // bottom: 0;
        }
    }

    $modal-top-bar-height: 1.6em;
    .modal-top-bar {
        position: relative;
        width: 100%;
        height: $modal-top-bar-height;
        background: pink;
        p {
            text-align: right;
            padding: 0px 10px;
            line-height: 90%;
            font-size: 1.6em;
            margin: 0;
        }
    }

    ion-nav {
        margin: 0;
        position: relative;
        contain: none;
    }

    .modal-footer {
        position: relative;
        width: 100%;
        height: $modal-top-bar-height;
        background: darkcyan;
        p {
            text-align: right;
            padding: 0px 10px;
            line-height: 90%;
            font-size: 1.6em;
            margin: 0;
        }
    }
}
