<div class="wrapper">

    <div class="modal-top">
        <p (click)="close()"><b>x</b></p>
    </div>
    <ion-nav [root]="rootPage" swipeBackEnabled="false">
        ok
    </ion-nav>
    
    <!--<div class="modal-content">-->
        
        <!--hej
        <p>modalcontent</p>
        asdasd

        asdasdasd
        asd
        <p>asdasdasd</p>
        asadasd
        <p>asdasdasd</p>
        asadasd
        <p>asdasdasd</p>
        asadasd-->
        
        
        
    <!--</div> -->
</div>
