login {
    position: relative !important;
    contain: none !important;  

    .login-box {
        background: honeydew;
        padding: 6px;
        // height: 160px;
        width: 400px;
        margin: 0;
        h1 {
            color: dodgerblue;
            margin: 40px;
        }
    }
}